* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 100%;
  /* max-width: 1400px; */
  /* margin-inline: auto; */
  padding-inline: 1.5rem;
}

/* header */
header {
  border-bottom: 1px solid #e5e5e5;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}
header ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
secion {
  padding: 2rem 4%;
}
/* Hero */
.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ccc;
}
.hero-content {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border: 1px solid #e5e5e5;
}
.hero .hero-image {
  flex: 1 1 300px;
  width: 100%;
}
.hero .hero-image img {
}
/* Cards / Features */
.cards {
  /* padding: 4rem 0; */
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 240px), 1fr));
  gap: 2rem;
}

.card {
  border: 1px solid #e5e5e5;
  padding: 4rem 1rem;
  border-radius: 8px;
}

/* CTA */
.cta {
  /* padding: 4rem 0; */
  text-align: center;
}
/* Footer */
footer {
  padding: 2rem 0;
  border-top: 1px solid #e5e5e5;
}

footer nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
